always-auth = true
//bas-common.dspace.de/artifactory/api/npm/ds.pe.npm-internal/:_auth = "ZHMucGUuc3luZWN0LnRlY2huaWNhbHVzZXIubnBtLmNvbnRyaWJ1dG9yOkFLQ3A1ZExDY0hNR2s5MVVQbmZUOXFSNHBibXhjMVY0V3p0SGs1cndwZGJjUFdmY1ZyYlE4MTk3Wjh3NFdycVd2UEhEcGVKdFI="